{% extends "base.html" %}

{% block head_title %}Welcome | {{block.super}}{% endblock %}

{% block content %}
        <!-- Optional header components (ex: slider) -->
            
    <!-- MAIN CONTENT -->
        <div class="pg-opt">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h2>FAQ</h2>
                </div>
                <div class="col-md-6">
                    <ol class="breadcrumb">
                        <li><a href="#">Home</a></li>
                        <li><a href="#">Pages</a></li>
                        <li class="active">FAQ</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>

    <section class="slice bg-base">
        <div class="wp-section">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="text-center">
                            <h2>Frequently asked questions</h2>
                            <p>
                               It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. <br> The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. 
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    <section class="slice bg-white">
        <div class="wp-section">
            <div class="container">
                <div class="row">
                    <div class="col-md-9">
                        <div class="section-title-wr">
                            <h3 class="section-title left"><span>How do we work</span></h3>
                        </div>

                        <div class="panel-group" id="accordionThree">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordionThree" href="#collapse3a">
                                        Lorem ipsum dolor sit amet
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapse3a" class="panel-collapse collapse in">
                                    <div class="panel-body">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordionThree" href="#collapse3b">
                                        Consectetur adipisicing elit
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapse3b" class="panel-collapse collapse">
                                    <div class="panel-body">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                                    <br><br>
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordionThree" href="#collapse3c">
                                        Excepteur sint occaecat cupidatat non proident
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapse3c" class="panel-collapse collapse">
                                    <div class="panel-body">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordionThree" href="#collapseFour">
                                        Cillum dolore eu fugiat nulla pariatur
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseFour" class="panel-collapse collapse">
                                    <div class="panel-body">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                                    <br><br>
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordionThree" href="#collapseFive">
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseFive" class="panel-collapse collapse">
                                    <div class="panel-body">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="row">
                            <div class="col-md-6">
                                <div class="section-title-wr">
                                    <h3 class="section-title left"><span>Technical</span></h3>
                                </div>
                                <div class="panel-group" id="accordionOne">
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <h4 class="panel-title">
                                                <a data-toggle="collapse" data-parent="#accordionOne" href="#collapse1a">
                                                Collapsible group one
                                                </a>
                                            </h4>
                                        </div>
                                        <div id="collapse1a" class="panel-collapse collapse in">
                                            <div class="panel-body">
                                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                                            </div>
                                        </div>
                                    </div>
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <h4 class="panel-title">
                                                <a data-toggle="collapse" data-parent="#accordionOne" href="#collapse1b">
                                                Collapsible group two
                                                </a>
                                            </h4>
                                        </div>
                                        <div id="collapse1b" class="panel-collapse collapse">
                                            <div class="panel-body">
                                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                                            <br><br>
                                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                                            </div>
                                        </div>
                                    </div>
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <h4 class="panel-title">
                                                <a data-toggle="collapse" data-parent="#accordionOne" href="#collapse1c">
                                                Collapsible group three
                                                </a>
                                            </h4>
                                        </div>
                                        <div id="collapse1c" class="panel-collapse collapse">
                                            <div class="panel-body">
                                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="col-md-6">
                                <div class="section-title-wr">
                                    <h3 class="section-title left"><span>Web Development</span></h3>
                                </div>

                                <div class="panel-group" id="accordionTwo">
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <h4 class="panel-title">
                                                <a data-toggle="collapse" data-parent="#accordionTwo" href="#collapse2a">
                                                Collapsible group one
                                                </a>
                                            </h4>
                                        </div>
                                        <div id="collapse2a" class="panel-collapse collapse in">
                                            <div class="panel-body">
                                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                                            </div>
                                        </div>
                                    </div>
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <h4 class="panel-title">
                                                <a data-toggle="collapse" data-parent="#accordionTwo" href="#collapse2b">
                                                Collapsible group two
                                                </a>
                                            </h4>
                                        </div>
                                        <div id="collapse2b" class="panel-collapse collapse">
                                            <div class="panel-body">
                                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                                            <br><br>
                                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                                            </div>
                                        </div>
                                    </div>
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <h4 class="panel-title">
                                                <a data-toggle="collapse" data-parent="#accordionTwo" href="#collapse2c">
                                                Collapsible group three
                                                </a>
                                            </h4>
                                        </div>
                                        <div id="collapse2c" class="panel-collapse collapse">
                                            <div class="panel-body">
                                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                  
                            </div> 
                        </div>
                    </div>
                    
                    <div class="col-md-3">
                        <div class="widget">
                            <div class="section-title-wr">
                                <h3 class="section-title left"><span>Categories</span></h3>
                            </div>
                            <ul class="categories">
                                <li><a href="#">Web design</a></li>
                                <li><a href="#">Online business</a></li>
                                <li><a href="#">Marketing strategy</a></li>
                                <li><a href="#">Technology</a></li>
                                <li><a href="#">About finance</a></li>
                            </ul>
                        </div>
                        
                        <!-- NEWSLETTER WIDGET -->
                        <div class="panel panel-default panel-sidebar-1">
                            <div class="panel-heading"><h2>Sign up to our newsletter</h2></div>
                            <form class="form-light" role="form">
                                <div class="panel-body">
                                    <p>
                                        Sign up if you would like to receive occasional treats from us.
                                    </p>
                                
                                    <div class="form-group form-group-lg">
                                        <label class="sr-only">Search text</label>
                                        <input type="text" class="form-control input-lg" placeholder="name@example.com" hidefocus="true">
                                    </div>
                                    
                                    <div class="input_styled checklist">
                                        <div class="rowCheckbox">
                                            <input name="signup" type="checkbox" checked id="signup" value="signup">
                                            <label for="signup">Sign up to our RSS news also</label>
                                        </div>  
                                    </div>       
                                </div>
                            </form>
                            <a href="#" class="btn btn-lg btn-block-bm btn-alt btn-icon btn-icon-right btn-envelope">
                                <span>Sign me Up!</span>
                            </a>
                        </div>

                        
                        <!-- TESTIMONIAL WIDGET --> 
                        <div class="panel panel-default panel-sidebar-1">
                            <div class="panel-heading"><h2>Video testimonial</h2></div>
                            <div class="owl-carousel owl-carousel-single">
                                <div>
                                    <div class="wp-block testimonial style-1 base">
                                        <div class="wp-block-video">
                                            <div class="embed-responsive embed-responsive-16by9">
                                                <iframe class="embed-responsive-item" src="http://player.vimeo.com/video/80747086?title=0&amp;byline=0&amp;portrait=0&amp;color=ffffff"></iframe>
                                            </div>
                                        </div>
                                        <div class="wp-block-body"> 
                                            <p>
                                                <i class="fa fa-quote-left"></i> It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                                                It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently.
                                            </p>
                                        </div>
                                        <div class="testimonial-author light">  
                                            <div class="author-img">
                                                <img src="images/prv/person-3-75x75.png" alt="">
                                            </div>
                                            <div class="author-info">
                                                <span class="author-name">Alexander Smith</span>
                                                <small class="author-pos">CEO Company Inc</small>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <div class="wp-block testimonial style-1 base">
                                        <div class="wp-block-video">
                                            <div class="embed-responsive embed-responsive-16by9">
                                                <iframe class="embed-responsive-item" src="http://player.vimeo.com/video/24837359?title=0&amp;byline=0&amp;portrait=0&amp;color=ffffff"></iframe>
                                            </div>
                                        </div>
                                        <div class="wp-block-body"> 
                                            <p>
                                                <i class="fa fa-quote-left"></i> It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                                                It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently.
                                            </p>
                                        </div>
                                        <div class="testimonial-author light">  
                                            <div class="author-img">
                                                <img src="images/prv/person-2-75x75.png" alt="">
                                            </div>
                                            <div class="author-info">
                                                <span class="author-name">Michael Angelo</span>
                                                <small class="author-pos">CEO Company Inc</small>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                

                    </div> 
                </div>
            </div>
        </div>
    </section>
    {% endblock %}
