{% extends "base.html" %}
{% load staticfiles %}

{% block head_title %}Welcome | {{block.super}}{% endblock %}

{% block content %}
    <!-- MAIN CONTENT -->
    	<div class="pg-opt">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h2>Team</h2>
                </div>
                <div class="col-md-6">
                    <ol class="breadcrumb">
                        <li><a href="#">Home</a></li>
                        <li><a href="#">Pages</a></li>
                        <li class="active">Team</li>
                    </ol>
                </div>
            </div>
        </div> 
    </div>

    <section class="slice white bb">
        <div class="wp-section">
            <div class="container">
                <div class="row ">  
                	<div class="col-md-6">
                		<img src="{% static 'img/prv/team/team-agency-wide-4.jpg' %}" class="img-responsive" alt="">
                	</div>
                	<div class="col-md-6">
                		<div class="row">
                			<div class="col-md-7">
                				<h4 class="title">CEO</h4>
                			</div>
                			<div class="col-md-5">
                				<div class="social-media social-media-sm text-right">
			                        <a href="#" title="Facebook"><i class="fa fa-facebook facebook"></i></a>
			                        <a href="#" title="Google +"><i class="fa fa-google-plus google"></i></a>
			                        <a href="#" title="Twitter"><i class="fa fa-twitter twitter"></i></a>
			                    </div>
                			</div>
                		</div>
                		<h3 class="title-lg">Leen Borno</h3>
                		<p>
                			A dedicated designer and a member of the Lubbock community. Eager to see the community progress.
                			A designer with a vision and belief that design can be taught and learned.
                			A futuristic thinker who does not believe in using paper, but that we should start writing on holograms .
                		</p>
                		<div class="progress progress-lg">
                            <div class="progress-bar progress-bar-base" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 90%">
                            <span class="sr-only">Design</span>
                            </div>
                        </div>
                        <div class="progress progress-lg">
                            <div class="progress-bar progress-bar-base" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100" style="width: 70%">
                            <span class="sr-only">Making</span>
                            </div>
                        </div>
                        <div class="progress progress-lg">
                            <div class="progress-bar progress-bar-base" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: 80%">
                            <span class="sr-only">Planning</span>
                            </div>
                        </div>
                	</div>
                </div>
                <hr>
                <div class="row">  
                	<div class="col-md-6">
                		<div class="row">
                			<div class="col-md-7">
                				<h4 class="title title-md c-light-gray">CEO</h4>
                			</div>
                			<div class="col-md-5">
                				<div class="social-media social-media-sm text-right">
			                        <a href="#" title="Facebook"><i class="fa fa-facebook facebook"></i></a>
			                        <a href="#" title="Google +"><i class="fa fa-google-plus google"></i></a>
			                        <a href="#" title="Twitter"><i class="fa fa-twitter twitter"></i></a>
			                    </div>
                			</div>
                		</div>
                		<h3 class="title-lg">Saba Nafees</h3>
                		<p>
                			An active and passionate voice. Has a vision for a nationally competitive ecosystem in the Lubbock area .
                			A social entrepreneur and cofounder of TTIME, an organization that encourages technology and entrepreneurship at Texas Tech.
                			A facilitator at 3 day startup and winner of the Tibetan Innovation Challenge.
                		</p>
                		<div class="progress progress-lg">
                            <div class="progress-bar progress-bar-base" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100" style="width: 90%">
                            <span class="sr-only">Design</span>
                            </div>
                        </div>
                        <div class="progress progress-lg">
                            <div class="progress-bar progress-bar-base" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 70%">
                            <span class="sr-only">Making</span>
                            </div>
                        </div>
                        <div class="progress progress-lg">
                            <div class="progress-bar progress-bar-base" role="progressbar" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100" style="width: 80%">
                            <span class="sr-only">Planning</span>
                            </div>
                        </div>
                	</div>
                	<div class="col-md-6">
                		<img src="{% static 'img/prv/team/team-agency-wide-3.jpg' %}" class="img-responsive" alt="">
                	</div>
                </div>
                <hr>
                <div class="row ">  
                	<div class="col-md-6">
                		<img src="{% static 'img/prv/team/team-agency-wide-5.jpg' %}" class="img-responsive" alt="">
                	</div>
                	<div class="col-md-6">
                		<div class="row">
                			<div class="col-md-7">
                				<h4 class="title">Public Relations</h4>
                			</div>
                			<div class="col-md-5">
                				<div class="social-media social-media-sm text-right">
			                        <a href="#" title="Facebook"><i class="fa fa-facebook facebook"></i></a>
			                        <a href="#" title="Google +"><i class="fa fa-google-plus google"></i></a>
			                        <a href="#" title="Twitter"><i class="fa fa-twitter twitter"></i></a>
			                    </div>
                			</div>
                		</div>
                		<h3 class="title-lg">Francis Atore</h3>
                		<p>
                			Design thinking facilitation and rapid prototyping is what we do.
                			Presently a UI Fellow at the Epicenter at Stanford.
                			Venture and technology assessor in the Texas region.
                		</p>
                		<div class="progress progress-lg">
                            <div class="progress-bar progress-bar-base" role="progressbar" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100" style="width: 90%">
                            <span class="sr-only">Design</span>
                            </div>
                        </div>
                        <div class="progress progress-lg">
                            <div class="progress-bar progress-bar-base" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 70%">
                            <span class="sr-only">Making</span>
                            </div>
                        </div>
                        <div class="progress progress-lg">
                            <div class="progress-bar progress-bar-base" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 80%">
                            <span class="sr-only">Planning</span>
                            </div>
                        </div>
                	</div>
                </div>
            </div>
        </div>
    </section>

    <section class="slice light-gray bb animate-hover-slide-2">
        <div class="wp-section">
            <div class="container">
                <div class="section-title-wr">
                    <h3 class="section-title left"><span>Our team</span></h3>
                </div>
                <div class="owl-carousel owl-carousel-4 no-padding">
                    <div class="item">
                        <div class="wp-block inverse">
                            <div class="figure">
                                <img alt="" src="{% static 'img/prv/team/team-agency-1.jpg' %}" class="img-responsive">
                                <div class="figcaption">
                                    <h2>Alex<small>Software Guru</small></h2>
                                    
                                    <ul class="social-icons text-center">
                                        <li class="facebook"><a href="#"><i class="fa fa-facebook"></i></a></li>
                                        <li class="twitter"><a href="#"><i class="fa fa-twitter"></i></a></li>
                                        <li class="linkedin"><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="wp-block inverse">
                            <div class="figure">
                                <img alt="" src="{% static 'img/prv/team/team-agency-2.jpg' %}" class="img-responsive">
                                <div class="figcaption">
                                    <h2>Sam<small>Maker Artist</small></h2>
                                    
                                    <ul class="social-icons text-center">
                                        <li class="facebook"><a href="#"><i class="fa fa-facebook"></i></a></li>
                                        <li class="twitter"><a href="#"><i class="fa fa-twitter"></i></a></li>
                                        <li class="linkedin"><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="wp-block inverse">
                            <div class="figure">
                                <img alt="" src="{% static 'img/prv/team/team-agency-3.jpg' %}" class="img-responsive">
                                <div class="figcaption">
                                    <h2>Steve<small>Construction Guru</small></h2>
                                    
                                    <ul class="social-icons text-center">
                                        <li class="facebook"><a href="#"><i class="fa fa-facebook"></i></a></li>
                                        <li class="twitter"><a href="#"><i class="fa fa-twitter"></i></a></li>
                                        <li class="linkedin"><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="wp-block inverse">
                            <div class="figure">
                                <img alt="" src="{% static 'img/prv/team/team-agency-4.jpg' %}" class="img-responsive">
                                <div class="figcaption">
                                    <h2>Samer<small>Community Developer</small></h2>
                                    
                                    <ul class="social-icons text-center">
                                        <li class="facebook"><a href="#"><i class="fa fa-facebook"></i></a></li>
                                        <li class="twitter"><a href="#"><i class="fa fa-twitter"></i></a></li>
                                        <li class="linkedin"><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>  
    {% endblock %}