{% extends "base.html" %}

{% block head_title %}Welcome | {{block.super}}{% endblock %}

{% block content %}
<!-- MAIN CONTENT -->
    <div class="pg-opt">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h2>Timeline</h2>
                </div>
            </div>
        </div>
    </div>

    <section class="slice bg-base">
        <div class="wp-section">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="text-center">
                            <h4><i class="fa fa-users fa-3x"></i></h4>
                            <h2>Lots of exciting activities on the Horizon: Ubiquitous Labs</h2>
                            <p>
                                Be a part of our timeline as we offer exciting classes in a creative environment.
                                <br>
                                With innovative tools.
                            </p>
                            <span class="clearfix"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    <section class="slice bg-white">
        <div class="wp-section">
            <div class="container">
                <ul class="timeline">
                    <li class="year">2014</li>     
                    <li class="event offset-first">
                        <div class="event-date">
                            <h3>Dependent certainty off discovery him his tolerably offending</h3>  
                        </div>
                        <div class="event-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <p>
                                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. 
                                        <br><br>
                                        It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
                                    </p>
                                    <a href="#" class="btn btn-base pull-right mb-20">Read more</a>
                                    <span class="clearfix"></span>
                                </div>
                            </div>
                        </div>
                        <div class="event-footer">
                            <ul class="aux-info-cells">
                                <li><i class="fa fa-calendar"></i> August 23</li>
                                <li><i class="fa fa-comment"></i> 330 comments</li>
                                <li><i class="fa fa-user"></i> <a href="#">Alexander Smith</a></li>
                                <li class="text-right"><a href="#"><i class="fa fa-heart"></i></a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="event">
                        <div class="event-date">
                            <h3>Dependent certainty off discovery him his tolerably offending</h3>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="event-body">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <img src="images/prv/col-img-2.jpg" class="img-responsive" alt="">
                                            <p>
                                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. 
                                                <br><br>
                                                It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="event-footer">
                            <ul class="aux-info-cells">
                                <li><i class="fa fa-calendar"></i> August 23</li>
                                <li><i class="fa fa-comment"></i> 330 comments</li>
                                <li><i class="fa fa-user"></i> <a href="#">Alexander Smith</a></li>
                                <li class="text-right"><a href="#"><i class="fa fa-heart"></i></a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="event">
                        <div class="event-date">
                            <h3>Dependent certainty off discovery him his tolerably offending</h3>  
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="event-body">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <img src="images/prv/col-img-3.jpg" class="img-responsive" alt="">
                                            <p>
                                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. 
                                                <br><br>
                                                It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="event-footer">
                            <ul class="aux-info-cells">
                                <li><i class="fa fa-calendar"></i> August 23</li>
                                <li><i class="fa fa-comment"></i> 330 comments</li>
                                <li><i class="fa fa-user"></i> <a href="#">Alexander Smith</a></li>
                                <li class="text-right"><a href="#"><i class="fa fa-heart"></i></a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="event">
                        <div class="event-date">
                            <h3>Dependent certainty off discovery him his tolerably offending</h3>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="event-body">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="embed-responsive embed-responsive-16by9">
                                                <iframe class="embed-responsive-item" src="http://player.vimeo.com/video/66288274?badge=0"></iframe>
                                            </div>
                                            <p>
                                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. 
                                                <br><br>
                                                It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="event-footer">
                            <ul class="aux-info-cells">
                                <li><i class="fa fa-calendar"></i> August 23</li>
                                <li><i class="fa fa-comment"></i> 330 comments</li>
                                <li><i class="fa fa-user"></i> <a href="#">Alexander Smith</a></li>
                                <li class="text-right"><a href="#"><i class="fa fa-heart"></i></a></li>
                            </ul>
                        </div>
                    </li>
                    
                    <li class="clearfix"></li>
                    
                    <li class="year">2013</li>     
                    <li class="event offset-first">
                        <div class="event-date">
                            <h3>Dependent certainty off discovery him his tolerably offending</h3>  
                        </div>
                        <div class="event-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <p>
                                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. 
                                        <br><br>
                                        It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
                                    </p>
                                    <a href="#" class="btn btn-base pull-right mb-20">Read more</a>
                                    <span class="clearfix"></span>
                                </div>
                            </div>
                        </div>
                        <div class="event-footer">
                            <ul class="aux-info-cells">
                                <li><i class="fa fa-calendar"></i> August 23</li>
                                <li><i class="fa fa-comment"></i> 330 comments</li>
                                <li><i class="fa fa-user"></i> <a href="#">Alexander Smith</a></li>
                                <li class="text-right"><a href="#"><i class="fa fa-heart"></i></a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="event">
                        <div class="event-date">
                            <h3>Dependent certainty off discovery him his tolerably offending</h3>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="event-body">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <img src="images/prv/col-img-2.jpg" class="img-responsive" alt="">
                                            <p>
                                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. 
                                                <br><br>
                                                It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="event-footer">
                            <ul class="aux-info-cells">
                                <li><i class="fa fa-calendar"></i> August 23</li>
                                <li><i class="fa fa-comment"></i> 330 comments</li>
                                <li><i class="fa fa-user"></i> <a href="#">Alexander Smith</a></li>
                                <li class="text-right"><a href="#"><i class="fa fa-heart"></i></a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="event">
                        <div class="event-date">
                            <h3>Dependent certainty off discovery him his tolerably offending</h3>  
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="event-body">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <img src="images/prv/col-img-3.jpg" class="img-responsive" alt="">
                                            <p>
                                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. 
                                                <br><br>
                                                It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="event-footer">
                            <ul class="aux-info-cells">
                                <li><i class="fa fa-calendar"></i> August 23</li>
                                <li><i class="fa fa-comment"></i> 330 comments</li>
                                <li><i class="fa fa-user"></i> <a href="#">Alexander Smith</a></li>
                                <li class="text-right"><a href="#"><i class="fa fa-heart"></i></a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="event">
                        <div class="event-date">
                            <h3>Dependent certainty off discovery him his tolerably offending</h3>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="event-body">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="embed-responsive embed-responsive-16by9">
                                                <iframe class="embed-responsive-item" src="http://player.vimeo.com/video/66288274?badge=0"></iframe>
                                            </div>
                                            <p>
                                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. 
                                                <br><br>
                                                It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="event-footer">
                            <ul class="aux-info-cells">
                                <li><i class="fa fa-calendar"></i> August 23</li>
                                <li><i class="fa fa-user"></i> <a href="#">Leen Borno</a></li>
                            </ul>
                        </div>
                    </li>
                    
                    <li class="clearfix"></li>
                    
                </ul>
            </div>
        </div>    
    </section>
{% endblock %}